<header class="header">
    <h1 class="header-title">Smart Home</h1>
    <nav class="header-nav">
        <ul>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>
            <li>
                <a href="#products">Products</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>
